# Dependencies
node_modules/

# Build output
dist/
storybook-static/

# macOS
.DS_Store
.DS_Store?
._*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# PWA
dev-dist/
.vercel
.env*
